@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: 'Acme', sans-serif;
}

.header {
  padding: 0 4.8rem;
  height: 10rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e7f5ff;
position: fixed;
  z-index: 1000;
  font-family: 'Acme', sans-serif;
}

.header .logo {
  height: 10rem;
  width: auto;
}
.navbar{
    font-family: 'Acme', sans-serif;
   
}
.navbar-list {
  display: flex;
  gap: 4.8rem;
  list-style: none;
  font-family: 'Acme', sans-serif;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 500;
  color: #212529;
  transition: all 0.3s;
}

.navbar-link:hover,
.navbar-link:active {
  color: #364fc7;
}

.mobile-navbar-btn {
  display: none;
  background: transparent;
  cursor: pointer;
}

.mobile-nav-icon {
  width: 4rem;
  height: 4rem;
  color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

/* ===========================================
Hero and Service Section Start
======================================= */
.section-hero .bgimage{
    background-image: url("img/davv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin-top: 40vh;
    height: 80vh;
    position: absolute;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
.section-hero{
    /* background-color: #a5d8ff; */
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.section-services,
.section-teams {
  /* background-color: #a5d8ff; */
  height: auto;
  /* display: flex; */
  justify-content: center;
  align-items: center;
}
.section-hero p,
.section-services p {
  font-size: 3.2rem;
}
.name{
    font-size: 6rem;
    font-weight: 800;
    z-index: 100;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.a1{
    font-size: 7rem;
}
.hero{
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    text-align: center;
    margin-top: 20%;

}
.image {
    position: relative;
    width: 250px;
    height: 250px;
    border: 2px solid;
    margin: 10px;
}
.image img{
    width: 100%;
    height: 247px;
    object-fit: cover;
}
.alignimg{
    display: inline-grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  align-items: center;
  width: 100%;
  /* justify-content: center; */
  
}
.image__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Quicksand', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
}

.image__overlay--primary {
    background: rgba(124, 62, 62, 0.2);
}

.image__overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover > * {
    transform: translateY(0);
}

.image__title {
    font-size: 2em;
    font-weight: bold;
}

.image__description {
    font-size: 1.75em;
    margin-top: 0.25em;
}
footer {
    background: rgb(55, 55, 55);
    margin-top: auto;
    position: absolute;
    margin: 10px;
    width: 100%;
    display: block;
  }
.flex-rw {
    display: block;
}
.social-icons li{
    list-style: none;
    display: inline;
    padding: 10px;
} 
.social-icons i{
    color: white;
    padding-top: 10px;
} 
.content {
    justify-content: center;
    align-items: flex-end;
    /* padding-bottom: 40px; */
    font-size: 30px;
    height: 50px;
    bottom: 0%;
    position: relative;
    background: white;
    color: white;
    display: flex;
}
/* ===========================================
Responsive Codes 
======================================= */

/* 980px  */
@media (max-width: 62em) {
  .mobile-navbar-btn {
    display: block;
    z-index: 999;
    border: 3px solid #212529;
    color: #212529;
  }

  .header {
    position: relative;
  }

  .navbar {
    /* display: none; */
    width: 100%;
    height: 100vh;
    background: #e7f5ff;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    /* to get the tranisition  */
    transform: translateX(100%);
    transition: all 0.5s linear;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .navbar-list {
    flex-direction: column;
    align-items: center;
  }

  .active .navbar {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
    display: block;
  }

  .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
    display: none;
  }
  .alignimg{
    display: inline-grid;
    grid-template-columns: auto auto;
}
.image{
    width: 300px;
    height: 300px;
}
.image img{
    width: 100%;
    height: 297px;
    object-fit: cover;
}
}

/* Below 560px  */
@media (max-width: 35em) {
  .header {
    padding: 0 2.4rem;
  }
}